@import url(./normalize.css);
@import url(./fonts.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./advantages.css);
@import url(./calc.css);
@import url(./footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #FFC700;
    --color-black: #232020;
    --background-light: #F8F8F8;
    --background-gray: #898989;
    --color-gray-middle: #E4E4E4;
}
body {
    font-family: Inter , sans-serif;
    background-color: #ffffff;
    min-width: 320px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
}
.content {
    max-width: calc(1190px + 16px*2 );
    padding: 0 16px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
.filling {
    height: 100%;
    width: 100%;
}
.gray-block {
    background-color: var(--background-light);
    border-radius: 12px;
    padding: 50px;
}
